body{
  margin:0;
  background-image: url(../images/pink_rice.png);
}

.tiaraName{
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
}

.footertxt{
  text-align: center;
  vertical-align: bottom;
  margin:0;
  }

.navbar li{
  padding:0px;
  list-style: none;
  display: inline;
  float: left;
}

.navbar a{
  padding-right: 15px;
}

.navbar ul{
  margin: 0;
  float:right;
}

.header-wrapper{
  background-color: #ffffff;
  height: 80px;
  margin: 0;
  position: relative;
}

.mynamebox{
  width:227px;
  height: inherit;
  background-color: #4aaaa5;
  color: white;
  margin-left: 265px;
  position: absolute;
}

.content-wrapper{
  width: 960px;
  height: 442px;
  position: relative;
  margin-left: 265px;
  margin-top: 40px;

}

.main-section{
  width: 587px;
  height:435px;
  background-color:#ffffff;
  position: absolute;


}

.sidebar{
  width: 270px;
  height: 183px;
  background-color:#ffffff;
  float: right;
}

.footer{
  width: 100%;
  height:65px;
  background-color: #666666;
  position: fixed;
  margin-top: 65px;
}
