body{
  margin:0;
  background-image: url(../images/pink_rice.png);
}

/*Text Properties*/

p.bioText{
padding: 0px  20px 0px 30px;
font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color: #777777;
line-height: 1.3em;
}

.tiaraName{
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
}

p.aboutText{
  color: #4aaaa5;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-left: 27px;
}

p.connectText{
  color: #4aaaa5;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.footertxt{
  margin-top: 30px;
  text-align: center;
  vertical-align: bottom;
  color: lightgrey;
  }




  /* End Text Properties */


/* Navbar Properties */
.navbar{
  float: right;
  position: relative;
  padding-top: 30px;


}

.navbar li:last-child {
  border: none;
}

.navbar li{
  padding:0px;
  list-style: none;
  display: inline-block;

}

.navbar a{
  padding:15px 15px 13px 15px;
  color: #999;
  font font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  border-left: 1px solid #efefef;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  float:right;

}



/* End Navbar Properties */

/* Header Properties */

.header-wrapper{
  background-color: #ffffff;
  width:100%;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.mynamebox{
  width:227px;
  height: inherit;
  background-color: #4aaaa5;
  color: white;
  margin-left: 265px;
  position: absolute;
}

/* End Header Properties */

/* Content Area Property  */
.content-wrapper{
  width: 960px;
  height: 442px;
  position: relative;
  margin-left: 265px;
  margin-top: 40px;

}


/* About Me Section Properties */

.main-section{
  width: 587px;
  height:435px;
  background-color:#ffffff;
  position: absolute;
}

.headerLine{
    border : 0;
    margin-top: 10px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.main-section-portfolio{
  width: 587px;
  height:700px;
  background-color:#ffffff;
  position: absolute;
}


/* Sidebar Section Properties */


.sidebar{
  width: 270px;
  height: 183px;
  background-color:#ffffff;
  float: right;
}

.connectBar{
  padding-left: 10px;
}

  .connectBar li{
    list-style: none;
    display: inline;

  }

  .connectBar a{
    text-decoration: none;
  }


  /* Portfolio Section Properties */

.pictureFrame{
  width: 220px;
  overflow: auto;
  position: relative;
  float: left;
  margin: 20px 0 25px;
  background-color: #4aaaa5;
  margin-right: 30px;
  margin-left: 30px;

}

.pictureFrame:nth-child(even){
  margin-right:40px;

}

.port-img{
  width: 200px
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}

p.portText{
  border-bottom: 0;
  background: #4aaaa5;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  width: 100%;
  line-height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: large;
}


/* Contact Form Property*/

#contactForm{
  list-style: none;
  padding-left: 10px;
}

#contactForm ul{
  margin-bottom:20px;


}

#contactForm li{
  margin-bottom:10px;



}

label,
input[type="text"],
input[type="email"]
textarea{
  display: block;
  width: 90%;
}

input[type="text"],
input[type="email"],
text{
  height:35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}

textarea{
  height: 100px;
  width: 93%;
}

input[type="submit"]{
  background: #4aaaa5;
  color: #fff;
  font-size:18px;
  padding: 10px 30px;
  cursor: pointer;
}

/* Footer Property*/

.footer{
  position: static;
  margin-top: 360px;
  width:100%;
  height:80px;
  background-color: #666666;
  border-top: solid 8px #4aaaa5;

}
